<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Profiles</key>
	<array>
		<dict>
			<key>ProfileEmail</key>
			<string>shree@manashakti.org</string>
			<key>ProfileAKSK</key>
			<string>6821</string>
		</dict>
	</array>
</dict>
</plist>
